.pageLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100vh;
}

.pageLogin .formLogin {
  width: 450px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 40px;
  margin-top: 30px;
  border: 1px solid #dedede;
}

.btn-login{
  margin-top: 4px;
  width: fit-content;
}

.content{
  width: 100%;
}