.productList {
    margin-top: 20px;
    flex: 6;
    background-color: white;
  }
  
  .product-list-header {
    display: flex;
  }
  
  .product-list-header .header-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .productListItem {
    display: flex;
    align-items: center;
  }
  
  .productListImg {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .productListEdit {
    border: none;
    border-radius: 10px;
    padding: 0px 10px;
    background-color: white;
    color: #3bb077;
    cursor: pointer;
    margin-right: 20px;
    text-align:justify;
    display: flex
  }
  
  .productListDelete {
    color: red;
    cursor: pointer;
  }
  
  .productAddButton {
    /* width: 80px; */
    border: none;
    padding: 6px 24px;
    background-color: teal;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .productRefeshButton {
    /* width: 80px; */
    border: none;
    padding: 6px 24px;
    background-color: #2a7ade;
    color: #ebf1fe;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-right: 12px;
  }
  
  .linear{
    width: 100%;
  }
  